.container {
    position: relative;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

main{
    position: relative;
    max-width: 1920px;
    margin: 0 auto
}

.section_1{
    position: relative;
}